#!/bin/bash

sudo nala upgrade -y;
sudo nala install -y{{ range $pacote := .pacotes.debian.nala }} {{ $pacote }}{{ end }}

{{- range $plugin := .pacotes.debian.asdf }}
{{- if eq $plugin "python" }} build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev curl libncurses-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev {{- end }}
{{- if eq $plugin "nodejs" }} python3 g++ make python3-pip {{- end }}
{{- if eq $plugin "ruby" }} autoconf patch build-essential rustc libssl-dev libyaml-dev libreadline-dev zlib1g-dev libgmp-dev libncurses-dev libffi-dev libgdbm6t64 libgdbm-dev libdb-dev uuid-dev {{- end }}
{{- end }};
