HashKnownHosts no

Host {{ keepassxcAttribute "ssh_git_1" "host-name" }}
  IdentitiesOnly yes
  IdentityFile ~/.ssh/ssh_git_1

Host {{ keepassxcAttribute "ssh_git_2" "host-name" }}
  IdentitiesOnly yes
  IdentityFile ~/.ssh/ssh_git_2