[user]
	name = {{ keepassxcAttribute "conta_git_1" "name" }}
	email = {{ keepassxcAttribute "conta_git_1" "email" }}
	signingkey = {{ keepassxcAttribute "conta_git_1" "signingkey" }}

[commit]
	gpgsign = true

[tag]
	gpgsign = true